*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #252327;
}

.head{
    background-color: #121212;
    height: 8vh;
    color: white;
    text-align: center;
    justify-content: center;
}

.head div{
    padding: 15px;
    color: white;
}

.Landing{
    display: flex;
    height: 100vh;
}

.Landing .landingimg{
    width: 60%;
    padding-left: 4%;
    padding-bottom: 3%;
}

.Landing .landingtext{
    width: 100%;
    padding: 10%;
    padding-top: 15%;
}

.landingtext h1{
    padding-bottom: 1%;
    font-size: 30px;
    color: white;
}
.landingtext p{
    padding-top: 1%;
    font-size: 20px;
    color: gray;
}

.landingtext h1 {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



.AboutMe{
    height: 100vh;
    background-color: black;
}

.aboutclasshead h1{
    height: 8vh;
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 1%;
    background-color: #696969;
}

.aboutclasspara p{
    font-size: 20px;
    color: gray;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    text-align: justify;
}

.imgabout{
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    text-align: center;
    background-color: black;
}





.Education{
    height: 65vh;
}

.Education h1{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    background-color: #696969;
}

.EducationContainer{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.EducationElements{
    text-align: center;
    padding-top: 10%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    font-size: 20px;
    justify-content: center;
}

.EducationElements h4{
    color: white;
}

.EducationElements p{
    color: gray;
}

.WorkExperience{
    height: 35vh;
}

.WorkExperience h1{
    text-align: center;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    color: white;
     background-color: #696969;
}

.work{
    padding-left: 5%;
    padding-top: 2%;
}

.work h3{
    color: black;
}

.work p{
    color: gray;
}





.Skills{
    height: 100vh;
}

.Skills h1{
    color: white;
    text-align: center;
    padding: 0.8%;
     background-color: #696969;
}

.techone{
    display: flex;
    text-align: center;
    padding-top: 3%;
    justify-content: center;
}

.techtwo{
    display: flex;
    text-align: center;
    padding-top: 5%;
    justify-content: center;
}

.imgtech{
    padding-left: 4%;
}




.Projects{
    height: 100vh;
    background-color: black;
}

.Projects h1{
    justify-content: center;
    text-align: center;
    height: 2vh;
    padding: 5%;
    font-size: 30px;
    color: white;
}

.projectscontainer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2%;
    align-items: center;
}

.pro{
    border: 5px solid grey;
    border-radius: 5%;
    text-align: center;
    padding: 3%;
    margin: 1%;
    background-color: lightgray;
}

.pro h2{
    padding: 1%;
}

.Contact{
    height: 100vh;
}

.Contact h1{
    font-size: 40px;
    padding: 5%;
    text-align: center;
    justify-content: center;
    color: white;
}

.connect{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.connect a
{
    position: relative;
    font-size: 100px;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    margin: 5%;
    
}

.connect li{
    width: 130px;
    height: 130px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    text-align: center;
}



